<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/css/reset.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner-header">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="#">Item 1</a></li>
                    <li class="navbar__item"><a href="#">Item 2</a></li>
                    <li class="navbar__item"><a href="#">Item 3</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="section section--page">
        <div class="page__inner d-flex">
            <h3 class="h3">Choisissez un thème</h3>
            <div class="themes box d-flex">
                <div class="themes__inner">
                    <div class="padding-20 theme">
                        <img src="/Assets/images/deco/couleurs.svg" alt="Couleurs">
                        <input type="submit" value="Couleurs" class="btn btn--submit">
                    </div>
                    <div class="padding-20 theme">
                        <img src="/Assets/images/deco/123.svg" alt="">
                        <input type="submit" value="Chiffres" class="btn btn--submit">
                    </div>
                    <div class="padding-20 theme"><img src="/Assets/images/deco/animaux.svg" alt="">
                        <input type="submit" value="Animaux" class="btn btn--submit"></div>
                </div> 

            </div>
        </div>
        <div class="tigre">
            <img src="/Assets/images/deco/tigre-bleu-lg.svg" alt="tigre bleu">
        </div>

    </section>
</body>

</html>