<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-test.css">
    <link rel="stylesheet" href="reset-test.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner-header">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="#">Item 1</a></li>
                    <li class="navbar__item"><a href="#">Item 2</a></li>
                    <li class="navbar__item"><a href="#">Item 3</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="section section--page">
        <div class="page__inner d-flex">
            <div class="text-box">
                <div d-flex></div>
                <h2 class="h2--lesson">Apprendre : Les couleurs</h2><div>
                <h3 class="h3--lesson"><a href="#">Leçon 1 : Couleurs primaires</a></h3>
                <h3 class="h3--lesson"><a href="#">Leçon 2 : Couleurs secondaires</a></h3>
                <h3 class="h3--lesson"><a href>Leçon 3 : Autre couleurs</a></h3>
            </div>
        </div>
        <div class="tigre">
            <img src="/Assets/images/deco/tigre-bleu-lg.svg" alt="tigre bleu">
        </div>
    </section>
</body>

</html>