<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Assets/css/reset.css">
        <link rel="stylesheet" href="/Assets/css/style.css">
        <title>Document</title>
    </head>

<body>
    <header>
        <div class="inner-header">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="#">Item 1</a></li>
                    <li class="navbar__item"><a href="#">Item 2</a></li>
                    <li class="navbar__item"><a href="#">Item 3</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="section section--page">
        <div class="page__inner d-flex">
            <div class="text-box">
                <div d-flex>
                <h2 class="h2--lesson">Couleurs: Leçon1</h2>
                <div>
                    <p>Et ipsum ad minim excepteur aute eiusmod ea do consequat. Nostrud et enim non fugiat. Tempor elit ex ad adipisicing excepteur occaecat amet nulla irure anim.</p>
                    <p>Id exercitation ullamco culpa culpa ut. Duis sint eu reprehenderit eu reprehenderit exercitation ea veniam irure. Ut dolor proident aliqua incididunt sint cillum. Culpa eu voluptate irure non nostrud nostrud veniam sit id quis incididunt.</p>
                </div>
                
        </div>
        <div class="tigre">
            <img src="/Assets/images/deco/tigre-bleu-lg.svg" alt="tigre bleu">
        </div>
    </section>
</body>

</html>