<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-test.css">
    <link rel="stylesheet" href="reset-test.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="inner-header">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="#">Item 1</a></li>
                    <li class="navbar__item"><a href="#">Item 2</a></li>
                    <li class="navbar__item"><a href="#">Item 3</a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="section section--page">
        <div class="hero__inner">
            <div class="hero-left d-flex">
                <img src="/Assets/images/deco/tigre-bleu-lg.svg" alt="tigre-bleu">
            </div>
            <div class="hero-right">
                <h2 class="hero__title">Bienvenue à Shuihu</h2>
                <h4>Apprenez le chinois à travers des jeux amusants !</h4>
                <div class="form__container">
                    <div class="form__top">
                        <form action="#" method="POST" class="form">
                            <div class="form__input">
                                <label for="username" class="label">Nom d'utilisateur :</label>
                                <input type="text" placeholder="Saisissez votre nom d'utilisateur" id="username"
                                    name="username" class="input input--text" required="">
                            </div>
                            <div class="form__input">
                                <label for="password" class="label">Mot de passe :</label>
                                <input type="text" placeholder="Saisissez votre mot de passe" id="password"
                                    name="password" class="input input--text" required="">
                            </div>

                            <input type="submit" value="Se connecter" class="btn btn--submit">
                            <a href="#" class="link link--submit"></a>
                        </form>
                    </div>
                    <div class="form__bottom">
                        <a href="#">Pas de compte ? S'inscrire ici.</a>
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>

</html>